body {
    margin:0 ;
    background:black;
    }
    
  header {
   background-image: url('header.jpg');
   display: flex;
   flex-direction: column;
   padding: 10px;
    }
    
   header > div {
    background: green;
    }
    
   header > .alignicons{
    display: flex;
    background: orange;
    justify-content: right;
    }
    
   header > .alignicons > div{
    display: flex;
    background: yellow;
    flex-direction: column;
    }
 
   header > .alignicons > div > .icons{
    background: purple;
    heignt: ;
    width: ;
    text-align: center;
    margin-bottom: 2px;
    font-size:32px;
    }
   
  .page {
   margin-top: 10px;
   padding:10px;
   background: orange;
   }
   
  .container {
   display: flex;
   justify-content: space-between;
   align-items:center;
   flex-direction: row;
   background: red;
   height:50px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   }
   
  .container > div {
   background: purple;
   height:;
   }
   
 .container > .menu {
 background: purple;
 height:;
 width:;
 text-align:center;
 font-size:32px;
 }
  