body {
    margin: 0;
    background:black;
    }
   header {
    padding: 10px;
    background-image: url('header.jpg');
    }
   .cont {
    background:green;
    padding: 2px;
    width: 40%; 
    }
   .page {
   margin-top: 10px;
   padding:10px;
   background: orange;
   }
   
  